button{
    cursor: pointer;
}
.title{
    text-shadow: 5px 5px 20px rgb(239, 198, 205);
}
.hero_button{
    box-shadow: 15px 15px 10px rgb(161, 154, 154);
}
.hero_img-position{
    box-shadow: 15px 15px 10px rgb(249, 207, 207), -15px -15px 10px rgb(249, 207, 207);

}
.hero_info{
    filter: blur(5px);
    transition: 0.5s;
}
.hero_info:hover{
    filter: blur(0px);
}
.plan-logo{
    transition: transform 0.5s;
    cursor: pointer;
}
.plan-logo:hover{
    transform: scale(150%);
}