* {
    box-sizing: border-box;
}

body {
    font-weight: 400;
    font-size: 16px;
    font-family: rubik;
    color: #0B132A;
}
ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

/* header block */

.header {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #F8F8F8;
}
.header__wrapper {
    padding: 58px 40px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list {
    display: flex;
    gap: 40px;
    color: #4F5665;
}
.header__signin{
    display: flex;
    align-items:center;
    gap: 30px;
}
.sign-in{
    font-weight: 500;
}
.nav_button{
    width: 150px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid #F53855;
    background: #FFF;
    color: #F53855;
    font-weight: 500;
}

/* hero block */

.hero{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #F8F8F8;
    margin-top: -130px;
    padding-top: 130px;
}
.wrapper__hero{
    margin-top: 126px;
    display: flex;
    justify-content: space-between;
}
.title{
    max-width: 555px;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
}
.title_description{
    margin-top: -20px;
    max-width: 555px;
    color: #4F5665;
    line-height: 20px;
}
.hero_button{
    width: 250px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background: #F53838;
    color: #FFF;
    font-weight: 700;
    line-height: 25px;
    margin-top: 30px;
}
.hero_info{
    margin: 104px 0px 95px 150px;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background: #FFF;
    padding: 72px 112px 72px 106px;
}
.hero_info-text{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.hero_info-btn{
    width: 55px;
    height: 55px;
    border-radius: 70px;
    background: #FFECEC;
    border: none;
}
.icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
.hero_info-numbers{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}
.hero_info-words{
    color: #4F5665;
    font-size: 20px;
    line-height: 30px;
    margin-top: -0px;
}

/* features block */

.features{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #F8F8F8;
    margin-top: -100px;
    padding-top: 100px;
}
.features__text{
    display: flex;
    justify-content: space-around;
}
.features_title{
    width: 383.406px;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
}
.features_box{
    display: flex;
    align-items: center;
    color: #4F5665;
    font-size: 14px;
    line-height: 30px;
}

/* choose your plan block */

.choose-your-plan{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #F8F8F8;
    margin-top: -210px;
    padding-top: 210px;
}
.center_title{
    margin-top: 210px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
}
.center_title_description{
    text-align: center;
    color: #4F5665;
    line-height: 30px;
    margin-bottom: 60px;
    margin-top: -30px;
}
.three-plans{
    display: flex;
    justify-content: space-around;
}
.plan{
    padding-top: 80px;
    width: 330px;
    height: 760px;
    border-radius: 10px;
    border: 2px solid #DDD;
    text-align: center;
}
.plan-tittle{
    padding: 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}
.jam-box{
    padding-left: 70px;
    display: flex;
    align-items: center;
    color: #4F5665;
    font-size: 14px;
    line-height: 30px;
}
.plan-bottom{
    margin-top: 130px;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
}
.plan-bottom2{
    margin-top: 100px;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
}
.plan-bottom3{
    margin-top: 70px;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
}
.mo{
    color: #4F5665;
    font-weight: 400;
}
.plan_button{
    width: 150px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid #F53855;
    background: #FFF;
    color: #F53838;
    font-weight: 700;
}
.plan_button-red{
    width: 150px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid #F53855;
    background: #F53838;
    color: #FFF;
    font-weight: 700;
}

/* global map block */

.global_map{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #F8F8F8;
    margin-top: -220px;
    padding-top: 220px;
}
.img_global_map{
    text-align: center;
}
.partners{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* reviews block */

.reviews{
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #F8F8F8;
    margin-top: -80px;
}
.comments{
    display: flex;
    list-style: none;
    gap: 50px;
}
.first_comment{
    display: flex;
    width: 455px;
    
}
.comments_border-red{
    border-radius: 10px;
    border: 2px solid #F53838;
    background: #FFF;
}
.comments_border{
    border-radius: 10px;
    border: 2px solid #DDD;;
    background: #FFF;
}
.comment_text{
    margin: 20px 30px 30px 30px;
}
.comment_geo{
    padding: 20px;
    line-height: 0px;
}
.comment_score{
    margin: 20px 0px 0px 140px; 
}
.star_score{
    margin: 20px 30px 0px 0px
}
.comment_name{
    font-size: 18px;
    font-weight: 500;
}
.comment_city{
    color: #4F5665;
    font-size: 14px;
    line-height: 10px;
}

/* subscribe block */

.subcribe{
    max-width: 1140px;
    height: 233px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    border-radius: 10px;
    background: #FFF;
    padding: 160px 60px 0px 60px;
    /* не розумію, чого не працює бекграунд колір */
}
.red_btn{
    display: flex;
    align-items: center;
    padding-top: 120px;
}
.red-btn{
    width: 250px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background: #F53838;
    color: #FFF;
    font-weight: 700;
    line-height: 25px;
}

/* footer block */

.footer{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #F8F8F8;
    margin-top: -240px;
    padding: 510px 170px 0px 150px;
    display: flex;
    justify-content: space-between;
}
.vpn_footer{
    max-width: 340px;
}
.social_logo{
    margin-top: 30px;
    display: flex;
}
.rights{
    color: #AFB5C0;
    padding-bottom: 140px;
}
.footer_titles{
    font-size: 18px;
    font-weight: 500;
}
.footer_list{
    color: #4F5665;
    line-height: 30px;
}


/* Зображення
1.hero_img.png - було 82кб, стало 20кб
2. features_img.png - було 81 кб, стало 17кб
3. global_map.png - було 66кб, стало 21кб   */